.table{
    display: grid;
    max-width: 880px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    grid-template-rows: 361px;
    row-gap: 20px;
    column-gap: 17px;
    padding-bottom: 67px;
}

@media screen and (max-width: 425px) {
    .table{
        padding-bottom: 52px;
    }
}