.profile__info{
    display: flex;
    flex-wrap: wrap;
    max-width: 336px;
    padding-left: 30px;
    align-self: center;
    margin-right: auto;
    flex-flow: column;
}

@media screen and (max-width:768px) {
    .profile__info{
        padding-top: 26px;
        justify-content: center;
        margin: 0 auto;
        padding-bottom: 32px;
    }
}