.profile__button-edit{
    background-image: url(../../../images/Edit.svg);
    background-color: #000;
    background-size: cover;
    width: 24px;
    height: 24px;
    border: 0;
    padding: 0;
    background-position: top;
    align-self: center;
    transition: 2s;
}

.profile__button-edit:hover{
    opacity: 0.5;
}

@media screen and (max-width:425px) {
    .profile__button-edit{
        padding-bottom: 14px;
    }
}