.pop-up__button-save{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    height: 50px;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    transition: 2s;
    margin-top: 45px;
}

.pop-up__button-save:hover{
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width:425px) {
    .pop-up__button-save{
        font-size: 14px;
        line-height: 17px;
    }
}