.profile__button-edit{
    background-image: url(../../../images/Edit.svg);
    background-color: #000;
    width: 24px;
    height: 24px;
    border: 0;
    padding: 0;
    background-position: top;
    align-self: center;
    transition: 2s;
    margin-left: 8px;
}

.profile__button-edit:hover{
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .profile__button-edit{
        padding-bottom: 14px;
        margin-left: 0;
        background-size: cover;
    }
}